@import '../../theme/colors.css';

.auth-header {
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

.title {
    font-size: 45px;
    color: var(--primaryText);
    vertical-align: middle;
    font-family: var(--logoFont);
}