@import '../../theme/colors.css';

body {
    font-family: 'Nunito', sans-serif;
    background-color: black;
    background-image: none;
    background-size: 100%;
}

h2 {
    font-family: 'Poppins';
    color: '#fff';
}

span:hover {
    cursor: pointer;
}
