@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
:root {
    --primaryColor: #073e6c;
    --primaryText: #fff;
    --primaryBackground: rgb(0, 4, 205);
    --secondaryBackground: #1c1f22;
    /*--secondaryColor:
    --secondaryText: */
    --logoFont: 'Great Vibes', cursive;
}